@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit&family=Noto+Sans:ital,wght@1,500&display=swap');
body{
    background-image: url("images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.clock{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 40%;
    font-size: 145px;
    line-height: 12px;
    letter-spacing: 5px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(169, 220, 252);
}
h2:nth-child(2){
    position: relative;
    left: 22%;
    font-size: 100px;
}